html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.screen1 {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.content-area4 {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.login-container1 {
  background: #fefefe;
  padding: 24px;
  border: 1px solid #ccc;
  border-radius: 12px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 450px;
  text-align: center;
}

.login-container1 #Mh2 {
  margin-bottom: 10px;
  font-size: 1.4rem;
}

.login-container1 #notice {
  margin-bottom: 20px;
  color: #333;
  font-size: 0.95rem;
}

.login-form1 {
  display: flex;
  flex-direction: column;
}

.login-form1 input {
  padding: 0.8rem 2rem 0.8rem 0.8rem;
  margin: 0.4rem 1rem 1.2rem;
  font-size: 1rem;
  width: calc(100% - 5rem);
  border: 2px solid #bbb;
  border-radius: 4px;
  transition: border-color 0.3s ease;
  outline: none;
}

.btnL1 {
  margin: 10px 20px 5px 20px;
  padding: 10px;
  background-color: #0262b2;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

.btnL1:hover {
  background-color: #004a91;
}

.messg1 {
  color: red;
  font-size: 0.95rem;
  margin: 0.5rem;
  align-self: center;
}
