.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: #fff;
  padding: 2rem;
  border-radius: 12px;
  width: 90%;
  max-width: 500px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.modal-content h2 {
  color: #002b5c;
  margin-bottom: 1rem;
  user-select: none;
}

.modal-content label {
  display: block;
  margin: 1rem 0 0.5rem;
  user-select: none;
  font-weight: 600;
}

.modal-content input {
  width: 95%;
  padding: 10px;
  margin: 0.4rem 0.2rem 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.password-input-wrapper {
  display: flex;
  gap: 8px;
  align-items: center;
}

.generate-btn,
.toggle-visibility-btn {
  background-color: #e1a35a;
  border: none;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1rem;
}

.modal-buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 1.5rem;
  gap: 12px;
}

.modal-buttons button {
  padding: 10px 16px;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}

.modal-buttons .cancel-btn {
  background-color: #ccc;
}
.modal-buttons .cancel-btn:hover {
  background-color: #d5d5d5;
}

.modal-buttons button:first-child {
  background-color: #002b5c;
  color: #fff;
}
.modal-buttons button:first-child:hover {
  background-color: #003a7d;
  color: #fff;
}
