.dashboard-container {
  padding: 2rem;
  background-color: #f4f6f8;
  min-height: 100vh;
}
@media (max-width: 768px) {
  .dashboard-container {
    margin-left: 0;
    padding-top: 80px; /* Висота верхнього меню + відступ */
    padding-left: 25px;
    padding-right: 25px;
    justify-content: start;
    gap: 10px;
  }
}