.dashboard-container {
  padding: 2rem;
  background-color: #f4f6f8;
  min-height: 100vh;
  margin-left: 240px;
  padding: 40px;
}
.logs-table th, .logs-table td {
  border-bottom: 1px solid #ccc;
  padding: 8px 12px;
  text-align: left;
}
.logs-table th {
  background: #f2f5fa;
  color: #002b5c;
}
.logs-table tr:nth-child(even) {
  background: #fafbfc;
}
@media (max-width: 768px) {
  .dashboard-container {
    margin-left: 0;
    padding-top: 80px; /* Висота верхнього меню + відступ */
    padding-left: 25px;
    padding-right: 25px;
    justify-content: start;
    gap: 10px;
  }
}