.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.55);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modalContent {
  background-color: #fff;
  padding: 2rem;
  border-radius: 12px;
  width: 90%;
  text-align: center;
  max-width: 500px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.modalContent #title {
  margin-bottom: 10px;
  font-size: 1.4rem;
  color: #002b5c;
}

.modalContent #text {
  margin: 0.8rem;
  font-size: 1.1rem;
  padding: 0.9rem 0.6rem;
}

.modalButtons {
  display: flex;
  justify-content: flex-end;
  margin-top: 1.5rem;
  gap: 12px;
}

.modalButtons button {
  padding: 10px 18px;
  font-size: 0.95rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
  transition: transform 0.2s ease;

  user-select: none;
}

.modalButtons button:hover {
  transform: scale(1.05);
}

.modalButtons .cancel-btn {
  background-color: #dee2e6;
  color: #333;
}

.modalButtons button:not(.cancel-btn) {
  background-color: #dc3545;
  color: white;
}