.content-area {
  /* content area */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  margin: 25px 20px;
}

.photo2 {
  width: 45%;
  object-fit: cover;
  margin: 20px;
}
@media (max-width: 768px) {
  .content-area {
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin: 15px 10px;
  }

  .text-area {
    max-width: 100%;
    padding: 10px;
    text-align: center;
  }

  .photo2 {
    width: 90%;
    margin: 15px 0;
  }

  .title1 {
    font-size: 2rem;
    line-height: 42px;
  }

  .text {
    font-size: 1.4rem;
    line-height: 28px;
    margin: 20px 10px;
  }
}
