.content-area {
  /* content area */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  margin: 25px 20px;
}

.photo2 {
  width: 45%;
  object-fit: cover;
  margin: 20px;
}
