.features {
  background-color: #d8edfc;
  padding: 45px 25px;
  margin: 50px 20px;
}
.card-grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 карточки в ряд */
  gap: 20px;
  padding: 40px 20px;
}

.cards {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80%;
  text-align: justify;
  text-align: center;
}

.card-title {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 10px;
  align-items: left;
}

.card-description {
  font-size: 1.5rem;
  color: #000000; /* Темно-сірий колір тексту */
  margin-bottom: 10px;
}
.title2 {
  margin: 25px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 2.2rem;
  text-align: center;
  color: #000000;
  margin-bottom: 40px;
}
@media (max-width: 768px) {
  .card-grid-container {
    grid-template-columns: 1fr; /* одна колонка */
    padding: 20px 10px;
    gap: 15px;
  }

  .cards {
    width: 95%; /* карточка на всю ширину контейнера */
    margin: 0 auto;
  }

  .title2 {
    font-size: 1.8rem;
    margin-bottom: 30px;
    padding: 0 10px;
  }

  .card-title {
    font-size: 1.6rem;
  }

  .card-description {
    font-size: 1.3rem;
  }
}