.features {
  background-color: #d8edfc;
  padding: 45px 25px;
  margin: 50px 20px;
}
.card-grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 карточки в ряд */
  gap: 20px;
  padding: 40px 20px;
}

.cards {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80%;
}

.card-title {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 10px;
  align-items: left;
}

.card-description {
  font-size: 1.5rem;
  color: #000000; /* Темно-сірий колір тексту */
  margin-bottom: 10px;
}
.title2 {
  margin: 25px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 2.2rem;
  text-align: center;
  color: #000000;
  margin-bottom: 40px;
}
