.footer {
  display: flex;
  justify-content: space-between; 
  align-items: center;            
  padding: 5px 25px;
  background-color: #002b5c;
  user-select: none;
}

.contact {
  align-items: left;
  color: white;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: bold;
}

.footer-contact {
  display: flex;
  align-items: center;
  gap: 0.5rem; 
}

.gmail-icon {
  height: 40px;
  width: auto;
}

.copyright {
  color: #fff;
  font-size: 1.4rem;
  align-items: center;
  font-style: normal;
  font-weight: bold;
}
.email-link {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: bold;
}