.footer {
  text-align: center;
  padding: 20px;

  background-color: #002b5c;
  padding: 5px 25px;
  display: flex;
  justify-content: right;
  align-items: right;
  user-select: none;
}

.copyright {
  color: #fff;
  font-size: 1.4rem;
  align-items: center;
  font-style: normal;
  font-weight: bold;
}
