.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 25px;
  background-color: #002b5c;
  color: white;
  user-select: none;
  flex-wrap: wrap;
}

.footer-left {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.contact {
  font-size: 1.4rem;
  font-weight: bold;
}

.infoF {
  display: flex;
  align-items: center;
  gap: 5px;
}

.gmail-icon {
  height: 40px;
  width: auto;
}
.copyright {
  font-size: 1.4rem;
  font-weight: bold;
  margin-left: auto;
}

.email-link {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
}
