html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}
.screen {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.content-area3 {
  /* content area */
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 17px 10px;
}

.login-container {
  min-width: 100px;
  margin: 40px;
  padding: 24px;
  border: 1px solid #ccc;
  border-radius: 12px;
  background: #fefefe;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  flex: 0.5;
  max-width: 75%;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-form label {
  margin-top: 12px;
  font-weight: 600;
}

.login-form input {
  padding: 0.8rem 2rem 0.8rem 0.8rem;
  margin: 0.4rem 1rem 1.2rem;
  font-size: 1rem;
  width: calc(100% - 5rem);
  border: 2px solid #bbb;
  border-radius: 4px;
  transition: border-color 0.3s ease;
  outline: none;
}

input.error {
  border: 1.6px solid red;
}
input.valid {
  border: 1.6px solid green;
}

.error-message {
  color: red;
  font-size: 0.9rem;
  margin-top: 4px;
}

.login-form .btnL {
  margin-top: 20px;
  padding: 10px;
  background-color: #0262b2;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

.login-form button:disabled {
  background-color: #aaa;
  cursor: not-allowed;
}

.register-link {
  margin-top: 16px;
  text-align: center;
}

.clouds {
  position: absolute;
  top: 1%;
  right: 1%;

  width: 12.6rem;
  height: 5.2rem;
  vertical-align: baseline;
  user-select: none;
  margin: 0px;
  padding: 0px;
  max-height: 80px;
}
.password-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.toggle-password {
  position: absolute;
  top: 25%;
  right: 7%;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1em;
  padding: 0;
}

.photo4 {
  width: 20%;
  max-width: 500px;
  object-fit: cover;
  margin: 30px 40px;
  flex: 1;
}
