.account-page {
  display: flex;
  flex-direction: column;
  gap: 30px;

  padding: 30px;
  justify-content: space-between;
  min-height: 100vh;
  padding: 2rem;
  background-color: #f4f6f8;

  margin-left: 240px;
  padding: 40px;
}
.account-page h1 {
  font-size: 2.4rem;
  color: #002b5c;
  margin-bottom: 1.5rem;
  user-select: none;
}

.user-info-card {
  display: flex;
  flex-direction: row-reverse;

  background-color: #ffffff;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.as {
  font-size: 1.4rem;
  color: black;
  margin: 1rem;
  padding: 1rem 0.9rem;
  user-select: none;
}

.avatar-circle {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #005bb5;
  color: white;
  font-weight: bold;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5rem;
  padding: 0.1rem;
}
.change-password-card {
  justify-content: center;

  background-color: #ffffff;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.user-email {
  user-select: none;
}
.cp {
  color: #002b5c;
  font-size: 1.4rem;
  margin: 0rem 0rem;
  user-select: none;
  text-align: center;
}
.change-password-card form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.sb {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0.5rem 1rem;
  padding: 0.5rem 0.9rem 0.1rem;
}
.change-password-card form label {
  display: block;
  margin: 0.7rem 0 0 0;
  user-select: none;
  font-weight: 600;
  font-size: 1.1rem;
}

.change-password-card form input {
  width: 95%;
  padding: 10px;
  margin: 0.4rem 0.2rem 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.password-input-wrapper {
  display: flex;

  gap: 8px;
  align-items: center;
}
.toggle-btn {
  background: #ffd06f;
  border: none;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1rem;
  user-select: none;
}

.gbtn {
  background: linear-gradient(145deg, #faecd4, #ffefbb);
  color: #3b0472;
  border: 3px solid #ffd38f;
  padding: 0.5rem 0.8rem;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 8px;
  box-shadow: 0 5px 0 #ffd38f;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  user-select: none;
}
.gbtn:hover {
  background: rgb(255, 237, 188);
}
.gbtn:active {
  transform: translateY(4px);
  box-shadow: 0 1px 0 #ffd38f;
}
.change-password-card .upd {
  background-color: #002b5c;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 10px;
}

.change-password-card .upd:hover {
  background-color: #004a99;
}
@media (max-width: 768px) {
  .account-page {
    margin-left: 0;
    padding-top: 80px; /* Висота верхнього меню + відступ */
    padding-left: 25px;
    padding-right: 25px;
    justify-content: start;
    gap: 10px;
  }
}
