.navbar {
  background-color: #002b5c;
  color: #fff;
  padding: 5px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  user-select: none;
}

.navbar-logo {
  display: flex;
  align-items: center;
  font-size: 1rem;
  font-weight: bold;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 40px;
  margin: 12px;
}

.linkA {
  background-color: #fcbf49;
  color: #002b5c;
  text-decoration: none;
  padding: 10px 16px;
  border-radius: 5px;
  font-weight: bold;
  box-shadow: -4px -4px #d89b29;
  transition: transform 0.2s ease;
  display: inline-block;
  font-size: 1.3rem;
}
.navbar-links li :hover {
  transform: translateY(-4px);
}
.last-link {
  margin-left: 50px;
}
.lock-icon {
  width: 4.6rem;
  height: 4.6rem;
  vertical-align: middle;
  user-select: none;
  margin: 0px;
  padding: 0px;
  max-width: 80px;
  max-height: 80px;
}

.user-initials-circle {
  background-color: #fcbf49;
  color: #002b5c;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  font-weight: bold;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
}