.password-list {
  margin-top: 2rem;
  margin-left: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.empty-list {
  margin-top: 2rem;
  font-size: 1.2rem;
  color: #666;
  text-align: center;
}