.password-item {
  background-color: #fff;
  border-radius: 10px;
  padding: 1rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in-out;
  width: 95%;
}

.password-item:hover {
  transform: translateY(-2px);
}

.info {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.email {
  font-size: 1.15rem;
  color: #002b5c;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0.1rem 0.3rem;
  margin: 0.1rem;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 254px;
}
.url {
  font-size: 0.9rem;
  color: #002b5c;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0.2rem 0.2rem 0.2rem 0.8rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 254px;
}

.password-field {
  flex: 1;
  text-align: right;
  font-family: monospace;
  font-size: 1rem;
  color: #333;
  align-self: center;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 150px;
}

.toggle-password-btn {
  background: none;
  border: none;
  color: #0666cd;
  font-size: 1.2rem;
  margin-left: 0.9rem;
  cursor: pointer;
  user-select: none;
}

.actions {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 0.5rem;
  margin: 0.2rem 0.3rem 0.2rem 1.2rem;
  user-select: none;
}

.actions .bnt1 {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
}

.menu-btn {
  font-size: 1.5rem;
  padding: 0.8rem;
}

.menu-dropdown {
  position: absolute;
  right: 0; /* притискаємо до правого краю контейнера */
  top: 100%; /* одразу під кнопкою меню */
  background: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  padding: 0.4rem 0.5rem 0.4rem 1.5rem;
  border-radius: 6px;
  margin-top: 4px;
  z-index: 10;
  display: flex;
  flex-direction: column;
  gap: 4px;
  max-width: 200px;
  white-space: nowrap;
  overflow-wrap: break-word;
}

.menu-dropdown .md {
  background: none;
  border: none;
  text-align: left;
  padding: 0.4rem 0.6rem 0.4rem 0.1rem;
  cursor: pointer;
  font-size: 0.95rem;
  color: #002b5c;
}
@media (max-width: 768px) {
  .copy-btn {
    display: none;
  }
}
