.users-list-container {
  margin-top: 2rem;
  margin-left: 0.5rem;
  padding: 1.3rem 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#h2L {
  font-size: 2.4rem;
  color: #002b5c;
  margin-bottom: 1.5rem;
  user-select: none;
}